services:
  mysqldb:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=${ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql  # named volume for MySQL data persistence
    networks:
      - backend-network
    mem_limit: 256M
    cpus: 1
    healthcheck:
      test: ["CMD-SHELL", "mysql -h 127.0.0.1 -u ${DB_USER} -p${DB_PASSWORD} -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 45s

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mysqldb
      - DB_PORT=3306
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
    networks:
      - backend-network
    mem_limit: 512M
    cpus: 1
    depends_on:
      mysqldb:
        condition: service_healthy
  redis:
    image: redis:7.0.11
    mem_limit: 128M
    cpus: 0.5
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend-network

  prometheus:
    image: prom/prometheus:v3.9.1
    mem_limit: 128M
    cpus: 0.5
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - backend-network
  grafana:
    image: grafana/grafana:9.4.3
    mem_limit: 256M
    cpus: 0.5
    ports:
      - "3000:3000"
    networks:
      - backend-network
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  mysql-data:
  prometheus-data:
  grafana-data:
  redis-data:

networks:
  backend-network:
    name: backend-network
    driver: bridge