version: '3.8'
services:
  mysqldb:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=${ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "mysql -h localhost -u ${DB_USER} -p${DB_PASSWORD} -e 'SELECT 1'"] 
      timeout: 20s
      retries: 10
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mysqldb
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - backend-network
volumes:
  mysql-data:
networks:
  backend-network:
    name: backend-network
    driver: bridge
