global:
  scrape_interval: 2s # Scrape frequently to see the spike immediately in the demo

scrape_configs:
  - job_name: 'spring-boot'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['app:8080']